* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*======================
		Login page
========================*/
.fromtable {
	width: 330px;
}

/*======================
		Sign Up page
========================*/
.fieldfile>.photo {
	width: 250px;
}
.fieldfile>.photo img {
	width: 100%;
	height: 100%;
}

.regtable {
	width: 50%;
}

.card-body .table img{
	width: 80px;
}
.table {
	text-align:center;
}
